<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHhMZlZTcn9giMIJ9Fc3LDxtpDbHwZs3U</string>
	<key>GCM_SENDER_ID</key>
	<string>245196026042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>green-tech-f15a5</string>
	<key>STORAGE_BUCKET</key>
	<string>green-tech-f15a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245196026042:ios:438f0670f7eb466bb69283</string>
</dict>
</plist>